PORT=3122
STATIC_URL=http://localhost:8800/vizapi
DEBUG=True

# Docker settings
DOCKER_STATIC_HOSTING=/var/www/static
HTTPS_NETWORK=https_network
UID=0

# Google Chart render timeout
RENDER_TIMEOUT_MS=5000
