<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Title</title>
    <style>
        #table-container {
            padding: 8px;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <div id="table-container">
        <table>
            <tr>
                <% columns.forEach(column => { %>
                    <th><%= column %></th>
                <% }); %>        
            </tr>
            <% table.map(row => { %>
                <tr>
                    <% columns.forEach(column => { %>
                        <td><%= row[column] %></td>
                    <% }); %>        
                </tr>
            <% }); %>
        </table>
    </div>
</body>

</html>